//
// UTILITIES
//-----------------------------------------------------------------------

// Text
// -------------------------

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-large {
  font-size: 1.25rem;
}

.u-text-xlarge {
  font-size: 1.75rem;
  line-height: 1.3;
}

.u-text-strong {
  font-weight: bold;
}

.u-text-loud {
  font-weight: bold;
  font-size: 1.625rem;
  line-height: 1.4;
}

.u-text-boxed {
  display: inline-block;
  background-color: white;
  color: $text-color;
  padding: 0.5em 0.75em;
}

.u-text-blue {
  color: $blue;
}

.u-text-yellow {
  color: $yellow;
}

.u-text-warning {
  color: $text-warning-color;
}




// Alignment
// -------------------------

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

// Margin
// -------------------------

.u-margin-top {
  margin-top: 2rem;
}

.u-margin-top-s {
  margin-top: 1rem;
}

.u-margin-top-l {
  margin-top: 4rem;
}

.u-margin-top-xl {
  margin-top: 6rem;
}

.u-margin-bottom {
  margin-bottom: 2rem;
}

.u-margin-bottom-s {
  margin-bottom: 1rem;
}

.u-margin-right {
  margin-right: 2rem;
}


// Misc
// -------------------------

.visually-hidden {
  // @include visually-hidden;
}
