//
// UTILITIES
//-----------------------------------------------------------------------

// Text
// -------------------------

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-strong {
  font-weight: bold;
  font-size: 1.625rem;
}


// Alignment
// -------------------------

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

// Margin
// -------------------------

.u-margin-top {
  margin-top: 2rem;
}

.u-margin-bottom {
  margin-bottom: 2rem;
}


// Misc
// -------------------------

.visually-hidden {
  // @include visually-hidden;
}
