//
// HERO
//-----------------------------------------------------------------------

.hero {
  padding-top: 2rem;
  padding-bottom: 21rem;
  background-image: linear-gradient(to bottom, rgba($turquoise, 1) 10rem, rgba($turquoise, 0)),
                    image-url('hero-bg.jpg');
  background-position: center top, center bottom;
}

.hero__lead {
  font-size: 2.125rem;
  font-weight: bold;
  line-height: 1.3;
}

.hero__navigation {
  // margin-bottom: 2rem;
}

.hero__logo {
  border: 4px solid white;
}

.hero__cta {
  margin-top: 2rem;

  li {
    display: inline-block;

    & + li {
      margin-left: 2rem;
    }
  }
}
