//
// ICON
//-----------------------------------------------------------------------

.icon {
  position: relative;
  top: -0.1em;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 0.4em;
  fill: currentColor;
}

.icon--small {
  width: 18px;
  height: 18px;
}
