---
title: Rampen Community
---

<div class="section section--inverted section--turquoise hero">
  <div class="container-fluid">
    <div class="row between-xs">
      <div class="col-xs-4">
        <%= image_tag 'rampen-logo.svg', alt: 'Rampen logo', class: 'hero__logo' %>
      </div>
      <div class="col-xs-8 u-text-right">
        <div class="navigation navigation--collapse hero__navigation">
          <ul class="navigation__menu">
            <li>
              <a href="" class="navigation__link">Om rampen</a>
            </li>
            <li>
              <a href="" class="navigation__link">Projekt</a>
            </li>
            <li>
              <a href="" class="navigation__link">Kontakt</a>
            </li>
            <li>
              <a href="" class="navigation__link">Tillsammans Cup</a>
            </li>
            <li>
              <a href="" class="button button--small button--inverted navigation__button">Logga in</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row center-xs">
      <div class="col-md-10">
        <p class="hero__lead u-margin-top">
          Rampen är en ideell förening med mål att bryta utanförskap och minska segregation genom arenor där människor kan växa både i sig själva och tillsammans.
        </p>
        <ul class="hero__cta">
          <li><a href="" class="button button--inverted button--green button--join">Bli medlem</a></li>
          <li><a href="" class="button button--inverted button--magenta button--support">Stöd Rampen</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="section section--inverted section--magenta">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2><%= image_tag 'vad-gor-rampen.svg', alt: 'Vad gör Rampen?', class: 'u-margin-bottom' %></h2>
        <p>Rampen är en ideell förening med mål att bryta utanförskap och minska segregation genom arenor där människor kan växa både i sig själva och tillsammans.</p>
        <p>Rampen är en ideell förening med mål att bryta utanförskap och minska segregation genom arenor där människor kan växa både i sig själva och tillsammans.</p>
      </div>
      <div class="col-md-6 u-text-center">
        <%= image_tag 'vad-gor-rampen-figure.svg', alt: '', class: 'u-margin-top' %>
      </div>
    </div>
  </div>
</div>
<div class="section instagram-band">
  <script>
    feed.run();
  </script>
</div>
<div class="section section--inverted section--black" style="background-image: url('assets/images/tillsammans-cup-bg.jpg')">
  <div class="container-fluid">
    <h2 class="u-text-center u-margin-bottom">
      <%= image_tag 'tillsammans-cup-event.png', alt: 'Tillsammans Cup – 6 juni 2017 – Heden, Göteborg', width: '512', height: '182' %>
    </h2>
    <p class="u-text-loud u-text-center">
      På nationaldagen den 6:e juni roddar vi Tillsammans Cup. Då hoppas vi att vi alla ses på Heden för en riktig nationaldagsfest som heter duga!
    </p>
    <p class="u-text-center">
      <a href="" class="button button--pointer">Läs mer</a>
    </p>
  </div>
</div>
